<div class="footer">

    <h3> Марина Володимирівна Патратій</h3>
    <p>
        Заслужений лікар України, кандидат медичних наук, <br>
        доцент кафедри внутрішньої медицини та інфекційних хвороб <br>
        Вищого державного навчального закладу України "БДМУ" <br>
        Головний позаштатний спеціаліст ДОЗ Чернівецької обласної державної адміністрації <br>
        за фахом "Гастроентерологія"
    </p>
    <p id="author"> © created by Novoselska Nina 2017</p>

</div>

<img id="footer" src="../img/footer.jpg">